.feature-box{
    background-color: rgba($color-white, .9);
    font-size: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 .5rem 1rem rgba($color-black,.4);
    text-align: center;
    padding: 3rem;
    backface-visibility: hidden;
    transition: all .2s;

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
    }

    &:hover{
        transform: scale(1.05) translateY(-.4rem) translate3d(0,0,0);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &__text{

    }
}