
.section-about {
    background-color: $color-light-1;
    margin-top: -20vh;
    padding: 25rem 0;
    z-index: 1;

    @include clearfix;

}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, .8), 
        rgba($color-primary-dark, .8)
    ), url(../img/nat-1.jpg);

    z-index: 0;

    transform: skewY(-7deg);
    & > *{ transform: skewY(7deg); }

} 

.section-tours {
    background-color: $color-light-1;
    margin-top: -20vh;
    padding: 20rem 0;
}

.section-stroy{
    padding: 20rem 0;
    position: relative;
    
}

.section-booking {
    padding: 25rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
    background-image: linear-gradient(110deg, 
                        rgba($color-white, .8) 0%,
                        rgba($color-white, .8) 50%,
                        transparent 50% ),
                    url(../img/nat-10.jpg);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    border-radius: 3px;



    &__form{
        width: 50%;
        padding: 6rem;
    }
}